.content {
    background: url("../image/background.png") center no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.background-header {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-icons {
    margin-left: 27px;
    width: 30px;
    height: 30px;
}


.header-icons:hover {
    fill: #3CB878;
}

.icon-compass {
    margin-right: 25px;
}

.company-name {
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.details {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-menu-right {
    text-decoration: none;
    color: white;
    border-left: 1px solid #3CB878CC;
    border-width: 2px;   
    padding-left: 10px;
}

.nav-login-sign {
    font-size: 18px;

}

.nav-login-sign:hover {
    color: #3CB878;
}

.company-name:hover {
    color: #3CB878;
}

.main-content {
    background-color: white;
    width: 450px;
    margin-top: 90px;
    transform: translateY(calc((100vh - 60px - 722px) / 2));
    padding: 25px;
}

.sign {
    font-size: 20px;
    padding-left: 60px;
    padding-top: 20px;
}

.register-blank {
    text-decoration: none;
   
    display: flex;
    justify-content: space-between;
}

.login {
    text-decoration: none;
    font-size: 14px;
    color: #3CB878;
    margin: 23px 60px;
}

.website-wrapper {
    display: flex;
    justify-content: space-between;
}

.facebook {
    background-color: #305DB8;
    text-decoration: none;
    padding: 16px;
    border-radius: 5px;
}

.facebook:hover {
    background: #022263;
}

.facebook-text {
    display: inline-block;
    font-size: 16px;
    padding-left: 40px;
    color: white;
}



.google {
    background-color: #DF4A32;
    text-decoration: none;
    padding: 17px;
    margin-left: 10px;
    border-radius: 5px;
}

.google:hover {
    background: #AB1F09;
}

.google-text {
    display: inline-block;
    font-size: 16px;
    padding-left: 40px;
    color: #ffffff;
}



.nav-bar-wrapper {
    margin: 20px 50px;
}

.register-blank-text {
    text-align: center;
    padding-top: 30px;
    color: #848484;
    font-size: 14px;
}




.spoiled-blank {
    padding: 10px 50px;
    margin-right: 30px;
}

.spoiled-blank-item {
    display: block;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #dbd3d3;
}

.checkbox {
    padding-left: 50px;
}

.rule {
    color: #3CB878;
    text-decoration: none;
}

.confirm-content {
    padding-bottom: 40px;
}

.confirm-button {
    padding: 15px 100px;
    background-color: #3CB878;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 40px;
    width: 385px;
    border: 1px solid #dbd3d3;
    font-size: 16px;
    color: white;
}

.confirm-button:hover {
    background: #01813F;
}

.spoiled-blank-item:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
}






